.label {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}
.value {
    flex: 1;
    position: relative;
    line-height: 100%;
}
.input {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.input-field {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.input-field1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.check-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.checkbox {
    width: 16px;
    border-radius: 4px;
    background-color: #2c2c2c;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.checkbox-and-label {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.description {
    flex: 1;
    position: relative;
    line-height: 140%;
}
.description-row {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #757575;
}
.checkbox-field {
    width: 151px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.button1 {
    position: relative;
    line-height: 100%;
}
.button {
    flex: 1;
    border-radius: 8px;
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.button-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #f5f5f5;
}
.text-link1 {
    position: relative;
    text-decoration: underline;
    line-height: 140%;
}
.text-link {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.form-log-in {
    width: 410px;
    border-radius: 30px;
    background: linear-gradient(180deg, #efec98, rgba(137, 135, 87, 0.25));
    border: 1px solid #ede63c;
    box-sizing: border-box;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    min-width: 320px;
}
.ng-nhp {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    background: linear-gradient(180deg, #fef7ff, #dfcdf5 51%, #dfcef5 99.99%, #4500c3);
    border: 8px solid #fef7ff;
    box-sizing: border-box;
    height: 784px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #1e1e1e;
    font-family: Inter;
}

